.beatfikler {
  text-align: center;
  max-width: 375px;
  margin: 0 auto;
  padding: 30px;
}

.bpm-slider input {
  width: 99%;
  margin: 10px;
}

.beatfikler button {
  background: #c94d46;
  padding: 10px;
  border: 1px solid #832420;
  border-radius: 2px;
  width: 100px;
  color: #fff;
  font-size: 18px;
}

.sequences {
  display:flex;
  flex-direction:column;
  width: 80%;
  background-color: grey;
  margin-top:30px;
}

.sequenceData {
  display:flex;
  flex-direction:row;
  width:100%;

}

.sequenceData .bars, .sequenceData .bpm {
  margin: 1px 10px 1px 10px;
}

.newBpm, .newBars, .addSeqButton {
  width:30px !important;
  height:20px !important;
  margin:10px 10px 10px 10px;
}

.addSeqButton{
  font-size: 10px !important;
}

.notification {
  margin-top:100px;
  padding-top:30px;
  background-color: green;
  width:60%;
  height:50px;
}
